.form_container{
    width:30%;
    /* height:60% */
}
@media screen and (max-width:1000px) {
    .form_container{
        width:45%
    }
    
}
@media screen and (max-width:600px) {
    .form_container{
        width:65%
    }
    
}

.input-container{
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}